/* 
                                                                                                
     ***** **    ***                                                                            
  ******  **** *  ***                                                          *                
 **   *  * ****    **                                                         **                
*    *  *   **     **                                                         **                
    *  *           **                                                       ********    ****    
   ** **           **       ***    *** **** ****       ***    ***  ****    ********    * **** * 
   ** **           **      * ***    *** **** ***  *   * ***    **** **** *    **      **  ****  
   ** ******       **     *   ***    **  **** ****   *   ***    **   ****     **     ****       
   ** *****        **    **    ***   **   **   **   **    ***   **    **      **       ***      
   ** **           **    ********    **   **   **   ********    **    **      **         ***    
   *  **           **    *******     **   **   **   *******     **    **      **           ***  
      *            **    **          **   **   **   **          **    **      **      ****  **  
  ****         *   **    ****    *   **   **   **   ****    *   **    **      **     * **** *   
 *  ***********    *** *  *******    ***  ***  ***   *******    ***   ***      **       ****    
*     ******        ***    *****      ***  ***  ***   *****      ***   ***                      
*                                                                                               
 **                                                                                             
                                                                                                                                                                       
*/
/* General CSS */
html {
  -ms-overflow-style: none;
  /* for Internet Explorer, Edge */
  scrollbar-width: none;
  /* for Firefox */
  overflow-y: scroll;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  width: 100%;
}

ul {
  list-style: none;
  padding-inline-start: 0px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: red;
}

::selection {
  background-color: #0e0e0e;
  color: white;
}

#loading {
  text-decoration-line: line-through;
  font-size: 1.8rem;
  font-family: 'syncopateregular', 'Syncopate', Helvetica, sans-serif;
  margin-top: 10rem;
  left: 45%;
  position: absolute;
}

#container {
  top: 0;
  position: relative;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: 1fr;
}

#container .con {
  position: relative;
  mix-blend-mode: multiply;
  display: flex;
  border-left: 1px #0e0e0e solid;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#container .con a {
  z-index: 10;
  font-size: 1.7rem;
  color: #0e0e0e;
  font-family: "syncopateregular", "Syncopate", Helvetica, sans-serif;
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

#container .con .sideimage {
  z-index: -1000;
  display: none;
}

#container .con .sideimage img {
  width: 39rem;
  padding-top: 10%;
  padding-right: 5%;
}

#container .con .sideimage img.verticalimg {
  width: 28rem;
}

#container .con .sideimage .subdec {
  margin-top: 3rem;
  font-size: 0.9rem;
  font-family: "syncopateregular", "Syncopate", Helvetica, sans-serif;
  color: white;
  text-align: center;
}

#container .con:hover {
  width: 43rem;
}

#container .con:hover a {
  color: white;
  display: none;
}

#container #vertical1:hover {
  background-color: #b27fb2;
}

#container #vertical2:hover {
  background-color: #ffca36;
}

#container #vertical3:hover {
  background-color: #878686;
}

#container #vertical4:hover {
  background-color: #ff22f5;
}

#container #vertical5:hover {
  background-color: #349193;
}

#container #vertical6:hover {
  background-color: #aeaeae;
}

#container #vertical7:hover {
  background-color: #2e73ef;
}

#container #vertical8:hover {
  background-color: #9d5fff;
}

#container #vertical9:hover {
  background-color: #fc8c12;
}

#container #vertical10:hover {
  background-color: #1ead84;
}

#container #vertical11:hover {
  background-color: #727272;
}

#container #vertical12:hover {
  background-color: #99d766;
}

#container #vertical13:hover {
  background-color: #3537a5;
}

#container #vertical14:hover {
  background-color: #00a5f7;
}

#container #vertical15:hover {
  background-color: #070707;
}

#container #vertical16:hover {
  background-color: #8e8ef7;
}

#horizontal {
  position: absolute;
  z-index: -1000;
  width: 110%;
  height: 100%;
  display: grid;
  grid-template-rows: 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr;
}

#horizontal div {
  border-top: 0.14rem black solid;
  opacity: 0;
}

#navbar {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  position: absolute;
  position: fixed;
  top: 0;
  margin: 0;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  width: 100%;
  background-color: white;
  z-index: 100;
  border-bottom: 1px black solid;
  font-size: 1.5rem;
  font-family: 'syncopateregular', 'Syncopate', Helvetica, sans-serif;
}

#navbar a {
  text-align: center;
  color: #0e0e0e;
  margin: 1.4rem;
}

#navbar a:hover {
  /*
        color: white;
        text-shadow: 1px 1px 0.5px black, 0 0 3px black, 0 0 10px black, 0 0 18px black;
        */
  /* Safari */
  text-decoration-line: line-through;
}

.containerInfo {
  height: 100%;
}

.containerInfo #cv {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0;
  font-family: Helvetica, sans-serif;
  height: 100%;
  -ms-overflow-style: none;
  /* for Internet Explorer, Edge */
  scrollbar-width: none;
  /* for Firefox */
  overflow-y: scroll;
}

.containerInfo #cv #portrait {
  display: grid;
  grid-template-columns: repeat(51, 1fr);
  grid-template-rows: repeat(51, 1fr);
  gap: 0;
  width: 39rem;
  height: 39rem;
  margin: 11rem 1rem 5rem 7rem;
}

.containerInfo #cv #me {
  font-weight: lighter;
}

.containerInfo #cv #me p {
  font-size: 1.1rem;
  line-height: 2.1rem;
}

.containerInfo #cv #me .insideme {
  overflow-y: scroll;
  -ms-overflow-style: none;
  /* for Internet Explorer, Edge */
  scrollbar-width: none;
  /* for Firefox */
  padding: 2.3rem;
  width: 80%;
  height: 30rem;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.containerInfo #cv #me .insideme li {
  line-height: 2rem;
}

.containerInfo #cv #me .insideme::-webkit-scrollbar {
  display: none;
}

.colorful {
  position: absolute;
  top: 0;
  margin-top: 7rem;
  width: 100%;
  height: 80%;
  z-index: -100;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(14, 1fr);
  visibility: hidden;
}

.colorful div {
  width: 30%;
}

.colorful .color1 {
  animation-name: colors;
  -webkit-animation-name: colors;
  -moz-animation-name: colors;
  -o-animation-name: colors;
  position: relative;
  animation: colors 1s 1;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}

.colorful .color2 {
  animation-name: colors;
  -webkit-animation-name: colors;
  -moz-animation-name: colors;
  -o-animation-name: colors;
  position: relative;
  animation: colors 1.5s 1;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}

.colorful .color3 {
  animation-name: colors;
  -webkit-animation-name: colors;
  -moz-animation-name: colors;
  -o-animation-name: colors;
  position: relative;
  animation: colors 2s 1;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}

.colorful .color4 {
  animation-name: colors;
  -webkit-animation-name: colors;
  -moz-animation-name: colors;
  -o-animation-name: colors;
  position: relative;
  animation: colors 2.5s 1;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}

.colorful .color5 {
  animation-name: colors;
  -webkit-animation-name: colors;
  -moz-animation-name: colors;
  -o-animation-name: colors;
  position: relative;
  animation: colors 3s 1;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}

.colorful .color6 {
  animation-name: colors;
  -webkit-animation-name: colors;
  -moz-animation-name: colors;
  -o-animation-name: colors;
  position: relative;
  animation: colors 3.5s 1;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}

.colorful .color7 {
  animation-name: colors;
  -webkit-animation-name: colors;
  -moz-animation-name: colors;
  -o-animation-name: colors;
  position: relative;
  animation: colors 4s 1;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}

.colorful .color8 {
  animation-name: colors;
  -webkit-animation-name: colors;
  -moz-animation-name: colors;
  -o-animation-name: colors;
  position: relative;
  animation: colors 4.5s 1;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}

.colorful .color9 {
  animation-name: colors;
  -webkit-animation-name: colors;
  -moz-animation-name: colors;
  -o-animation-name: colors;
  position: relative;
  animation: colors 5s 1;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}

.colorful .color10 {
  animation-name: colors;
  -webkit-animation-name: colors;
  -moz-animation-name: colors;
  -o-animation-name: colors;
  position: relative;
  animation: colors 4.5s 1;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}

.colorful .color11 {
  animation-name: colors;
  -webkit-animation-name: colors;
  -moz-animation-name: colors;
  -o-animation-name: colors;
  position: relative;
  animation: colors 4s 1;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}

.colorful .color12 {
  animation-name: colors;
  -webkit-animation-name: colors;
  -moz-animation-name: colors;
  -o-animation-name: colors;
  position: relative;
  animation: colors 3.5s 1;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}

.colorful .color13 {
  animation-name: colors;
  -webkit-animation-name: colors;
  -moz-animation-name: colors;
  -o-animation-name: colors;
  position: relative;
  animation: colors 3s 1;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}

.colorful .color14 {
  animation-name: colors;
  -webkit-animation-name: colors;
  -moz-animation-name: colors;
  -o-animation-name: colors;
  position: relative;
  animation: colors 2.5s 1;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}

@keyframes colors {
  0% {
    left: 0;
    z-index: 100;
  }
  100% {
    left: 98%;
    z-index: -100;
    visibility: hidden;
  }
}

#con1, #con2, #ty1, #ty2, #three, #art, #jump, #full, #so1, #so2, #webzine, #real, #type, #oneday, #seoul50, #raum, #calendiary, #empathy {
  display: grid;
  grid-template-columns: 0.9fr 0.5fr;
  grid-template-rows: 1fr;
  gap: 0;
  justify-content: space-between;
  width: 100%;
  margin-top: 9rem;
  padding-left: 1%;
  font-family: 'syncopateregular', 'Syncopate', Helvetica, sans-serif;
}

.burn, .humor, .play, .interior, .exhibition, .bungee, .picture, .moiza, .editorial, .feelings, .font, .oneweb, .intern, .raum, .calendar, .ai {
  display: flex;
  position: relative;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding-top: 0.7rem;
  letter-spacing: 0.1rem;
  word-spacing: 0.1rem;
}

.sub {
  margin-top: 2rem;
  padding: 2.1rem;
  font-size: 0.93rem;
  line-height: 2.1rem;
}

.sub a {
  color: black;
  font-weight: normal;
}

.sub a:hover {
  color: red;
}

.title {
  text-align: center;
}

.title ul {
  margin-top: 2.3rem;
  text-align: center;
  list-style-type: none;
  padding: 0;
  font-size: 0.9rem;
  line-height: 2rem;
}

.title span {
  font-size: 1.4rem;
  margin-top: 0.7rem;
  font-family: "syncopateregular", "Syncopate", Helvetica, sans-serif;
  font-weight: 300;
  line-height: 2.8rem;
  padding-bottom: 0.5rem;
}

#right {
  border-left: 0.1rem black solid;
  background-color: white;
  position: relative;
  overflow-y: hidden;
  width: 31%;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  margin-top: 0rem;
  padding: 7.7rem 1.4rem 0 1.4rem;
}

#right p {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 300;
}

#right li {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 200;
}

.mine:hover {
  background-color: #232323;
}

.mine:hover a {
  color: white;
}

#categorize {
  font-family: 'syncopateregular', 'Syncopate', Helvetica, sans-serif;
  display: grid;
  display: flex;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0;
  margin-top: 4.3rem;
  width: 100%;
  height: 130%;
  -ms-overflow-style: none;
  /* for Internet Explorer, Edge */
  scrollbar-width: none;
  /* for Firefox */
  overflow-y: scroll;
}

#categorize .catego1 {
  border-right: 1px solid #0e0e0e;
}

#categorize .catego1 ul {
  display: flex;
  margin: 0;
  list-style: none;
  text-transform: uppercase;
  border-bottom: 1px solid #0e0e0e;
}

#categorize .catego1 ul li {
  padding: 1.3rem;
  font-size: 1.3rem;
  border-left: 1px solid #0e0e0e;
}

#categorize .catego1 ul li:hover, #categorize .catego1 .active {
  /* Safari */
  text-decoration-line: line-through;
}

#categorize .catego1 .works1 {
  display: block;
}

#categorize .catego1 .works1 .w2019.w2020.w2021.etc1 {
  transition-timing-function: ease 1s;
}

#categorize .catego1 .works1 .mine {
  font-size: 1.1rem;
  padding: 1.4rem;
  border-bottom: 1px solid #0e0e0e;
}

#categorize .catego2 {
  width: 100%;
}

#categorize .catego2 ul {
  display: flex;
  margin: 0;
  list-style: none;
  text-transform: uppercase;
  border-bottom: 1px solid #0e0e0e;
}

#categorize .catego2 ul li {
  padding: 1.3rem;
  font-size: 1.3rem;
  border-right: 1px solid #0e0e0e;
}

#categorize .catego2 ul li:hover, #categorize .catego2 .active {
  /* Safari */
  text-decoration-line: line-through;
}

#categorize .catego2 .works2 {
  display: block;
}

#categorize .catego2 .works2 .graphic.edit.website.etc2 {
  transition-timing-function: ease 1s;
}

#categorize .catego2 .works2 .mine {
  font-size: 1.1rem;
  padding: 1.4rem;
  border-bottom: 1px solid #0e0e0e;
}

.btn {
  font-weight: 300;
  width: 4.1rem;
  height: 1.1rem;
  margin-top: 7rem;
  display: inline-block;
  text-decoration: none;
  color: black;
  background: #d9d8da;
  border-radius: 5px;
  box-shadow: -3px -3px 5px 0px #ffffffa6 inset, 3px 3px 5px 0px #0000004a inset;
  transition: color 0.3s, border-color 0.3s;
}

.btn:hover {
  color: #e93333;
}

.food {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding-top: 0.7rem;
}

.food p {
  width: 100%;
  text-align: center;
  margin-top: 3rem;
  letter-spacing: 0.1rem;
  word-spacing: 0.1rem;
}

.food .foodgif {
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.food .foodgif img {
  width: 17rem;
  height: 24rem;
  margin: 0.2rem;
}

.food .foodexhibition {
  margin-bottom: 3rem;
}

.food .foodexhibition img {
  width: 75%;
  box-shadow: 0px 0px 7px black;
}

.food .book1 {
  margin-bottom: 3rem;
}

.food .book1 .content:hover .front {
  transform: rotateY(-210deg) translateZ(1px);
  transition: 1.3s;
}

.food .book1 .content:hover .page li:nth-child(1) {
  transform: rotateY(-30deg);
  transition: 1.5s;
}

.food .book1 .content:hover .page li:nth-child(2) {
  transform: rotateY(-35deg);
  transition: 1.8s;
}

.food .book1 .content:hover .page li:nth-child(3) {
  transform: rotateY(-118deg);
  transition: 1.6s;
}

.food .book1 .content:hover .page li:nth-child(4) {
  transform: rotateY(-130deg);
  transition: 1.4s;
}

.food .book1 .content:hover .page li:nth-child(5) {
  transform: rotateY(-133deg);
  transition: 1.2s;
}

.food .book1 .content {
  position: relative;
  width: 170px;
  height: 270px;
  perspective: 1000px;
  transform-style: preserve-3d;
  margin-left: 18%;
}

.food .book1 .content .front {
  transform-style: preserve-3d;
  transform-origin: 0% 100%;
  transform: rotateY(-36deg) translateZ(7px);
  transition: all 0.5s ease-in-out, z-index 0.1s;
}

.food .book1 .content .front li .frontcover {
  position: absolute;
  height: 98%;
  width: 103%;
}

.food .book1 .content .front li .frontcover img {
  width: 190px;
  height: 270px;
}

.food .book1 .content .front li:last-child {
  background-color: white;
  border-radius: 10px;
  transform: rotateY(180deg) translateZ(2px);
}

.food .book1 .content .page {
  position: absolute;
  width: 111%;
  height: 98%;
  top: 1%;
  left: 2%;
}

.food .book1 .content .page li {
  transition-duration: 0.6s;
}

.food .book1 .content .page > li {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: left center;
  background: linear-gradient(left, #e1ddd8 0%, #fffbf6 100%);
  box-shadow: inset 0px -1px 2px rgba(50, 50, 50, 0.1), inset -1px 0px 1px rgba(150, 150, 150, 0.2);
  border-radius: 0px 5px 5px 0px;
}

.food .book1 .content .page li:nth-child(1) {
  transform: rotateY(-28deg);
}

.food .book1 .content .page li:nth-child(2) {
  transform: rotateY(-30deg);
}

.food .book1 .content .page li:nth-child(3) {
  transform: rotateY(-32deg);
}

.food .book1 .content .page li:nth-child(4) {
  transform: rotateY(-34deg);
}

.food .book1 .content .page li:nth-child(5) {
  transform: rotateY(-36deg);
}

.food .book1 .content .back {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform-origin: 0% 100%;
  transform: rotateY(-15deg) translateZ(-8px);
}

.food .book1 .content .back li {
  background-color: #a7a7a7;
  border-radius: 10px;
  width: 97.5% !important;
}

.food .book1 .content .front li.back li {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.food .openbook1 {
  margin: auto;
  max-width: 800px;
  padding: 1.4rem;
  display: flex;
  justify-content: center;
  background-color: black;
  cursor: alias;
}

.food .openbook1 img {
  width: 100%;
  height: 100%;
}

.food .openbook2 {
  margin: auto;
  max-width: 800px;
  padding: 1.4rem;
  display: flex;
  justify-content: center;
  background-color: black;
  margin-bottom: 3rem;
  cursor: alias;
}

.food .openbook2 img {
  width: 100%;
  height: 100%;
}

.food .book2 {
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: 21%;
}

.food .book2 .content2:hover .front2 {
  transform: rotateY(-210deg) translateZ(1px);
  transition: 1.3s;
}

.food .book2 .content2:hover .page2 li:nth-child(1) {
  transform: rotateY(-30deg);
  transition: 1.5s;
}

.food .book2 .content2:hover .page2 li:nth-child(2) {
  transform: rotateY(-35deg);
  transition: 1.8s;
}

.food .book2 .content2:hover .page2 li:nth-child(3) {
  transform: rotateY(-118deg);
  transition: 1.6s;
}

.food .book2 .content2:hover .page2 li:nth-child(4) {
  transform: rotateY(-130deg);
  transition: 1.4s;
}

.food .book2 .content2:hover .page2 li:nth-child(5) {
  transform: rotateY(-133deg);
  transition: 1.2s;
}

.food .book2 .content2 {
  position: relative;
  width: 120px;
  height: 272px;
  perspective: 1000px;
  transform-style: preserve-3d;
}

.food .book2 .content2 .front2 {
  transform-style: preserve-3d;
  transform-origin: 0% 100%;
  transform: rotateY(-36deg) translateZ(0px);
  transition: all 0.5s ease-in-out, z-index 0.1s;
}

.food .book2 .content2 .front2 li .frontcover2 {
  position: absolute;
  height: 90%;
  width: 87%;
}

.food .book2 .content2 .front2 li .frontcover2 img {
  width: 140px;
  height: 270px;
  padding-top: 1px;
}

.food .book2 .content2 .front2 li:last-child {
  background-color: white;
  border-radius: 10px;
  transform: rotateY(180deg) translateZ(2px);
}

.food .book2 .content2 .page2 {
  position: absolute;
  width: 127%;
  height: 98%;
  top: 1%;
  left: 2%;
}

.food .book2 .content2 .page2 li {
  transition-duration: 0.6s;
}

.food .book2 .content2 .page2 > li {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: left center;
  background: linear-gradient(left, #e1ddd8 0%, #fffbf6 100%);
  box-shadow: inset 0px -1px 2px rgba(50, 50, 50, 0.1), inset -1px 0px 1px rgba(150, 150, 150, 0.2);
  border-radius: 0px 5px 5px 0px;
}

.food .book2 .content2 .page2 li:nth-child(1) {
  transform: rotateY(-28deg);
}

.food .book2 .content2 .page2 li:nth-child(2) {
  transform: rotateY(-30deg);
}

.food .book2 .content2 .page2 li:nth-child(3) {
  transform: rotateY(-32deg);
}

.food .book2 .content2 .page2 li:nth-child(4) {
  transform: rotateY(-34deg);
}

.food .book2 .content2 .page2 li:nth-child(5) {
  transform: rotateY(-36deg);
}

.food .book2 .content2 .back2 {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform-origin: 0% 100%;
  transform: rotateY(-15deg) translateZ(-8px);
}

.food .book2 .content2 .back2 li {
  background-color: #a7a7a7;
  border-radius: 10px;
  width: 97.5% !important;
}

.food .book2 .content2 .front2 li.back2 li {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.burn .burnposter img {
  width: 20rem;
  margin: 0.7rem;
  box-shadow: 0px 0px 7px black;
}

.burn .burnbooks {
  margin-bottom: 3rem;
}

.burn .burnbooks img {
  width: 20rem;
  padding: 1rem;
}

.burn .burnbooks img:hover {
  width: 60%;
}

.burn .scene {
  width: 90%;
  margin-bottom: 3rem;
}

.humor .humorposter {
  position: relative;
}

.humor .humorposter img {
  width: 30rem;
  box-shadow: 0px 0px 7px black;
  margin-bottom: 15rem;
}

.humor .humorposterHover img {
  position: absolute;
  width: 30rem;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  object-fit: contain;
  opacity: 0;
  transition: opacity .2s;
}

.humor .humorposter:hover .humorposterHover img {
  opacity: 1;
}

.play .shadow {
  width: 30rem;
  margin-bottom: 15rem;
  box-shadow: 0px 0px 7px black;
}

.play .zoom {
  width: 90%;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.interior {
  display: block;
}

.interior img {
  width: 43rem;
  margin-bottom: 1rem;
}

.exhibition .poster {
  width: 30rem;
  margin-bottom: 14rem;
  box-shadow: 0px 0px 7px black;
}

.exhibition .artexh {
  margin-bottom: 5rem;
}

.exhibition .artexh img {
  width: 30rem;
  height: 22rem;
  margin-bottom: 2rem;
}

.exhibition .editorial img {
  width: 85%;
  margin-bottom: 5rem;
}

.bungee {
  margin-bottom: 5rem;
}

.bungee img {
  width: 85%;
  margin-bottom: 2rem;
  box-shadow: 0px 0px 7px black;
}

.bungee img:hover {
  cursor: sw-resize;
}

.picture {
  margin-bottom: 5rem;
}

.picture img {
  width: 85%;
  margin-bottom: 2rem;
  box-shadow: 0px 0px 7px black;
}

.picture img:hover {
  cursor: sw-resize;
}

.sharing {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding-top: 0.7rem;
}

.sharing p {
  width: 100%;
  text-align: center;
  margin-top: 3rem;
  letter-spacing: 0.1rem;
  word-spacing: 0.1rem;
  /*color: white;
        text-shadow: 1px 1px 1px black, 0 0 15px black, 0 0 11px black;*/
}

.sharing .presentposter {
  margin-bottom: 15rem;
}

.sharing .presentposter img {
  width: 28%;
  margin: 1rem;
  box-shadow: 0px 0px 7px black;
}

.sharing .brandguide img {
  width: 85%;
  padding: 3rem;
  border-bottom: 1px solid black;
}

.sharing .typo img {
  width: 80%;
}

.sharing .mockup1 {
  margin-top: 5rem;
}

.sharing .mockup1 img {
  height: 12.8rem;
  padding: 1rem;
  margin: 0 0.5rem 1rem 0.5rem;
}

.sharing .mockup2 img {
  width: 35rem;
  height: 23rem;
  margin: 0 0.5rem 1rem 0.5rem;
}

.sharing .sharinginterview {
  margin-bottom: 3rem;
}

.sharing .sharinginterview .content:hover .front {
  transform: rotateY(-210deg) translateZ(1px);
  transition: 1.3s;
}

.sharing .sharinginterview .content:hover .page li:nth-child(1) {
  transform: rotateY(-30deg);
  transition: 1.5s;
}

.sharing .sharinginterview .content:hover .page li:nth-child(2) {
  transform: rotateY(-35deg);
  transition: 1.8s;
}

.sharing .sharinginterview .content:hover .page li:nth-child(3) {
  transform: rotateY(-118deg);
  transition: 1.6s;
}

.sharing .sharinginterview .content:hover .page li:nth-child(4) {
  transform: rotateY(-130deg);
  transition: 1.4s;
}

.sharing .sharinginterview .content:hover .page li:nth-child(5) {
  transform: rotateY(-133deg);
  transition: 1.2s;
}

.sharing .sharinginterview .content {
  position: relative;
  width: 170px;
  height: 270px;
  perspective: 1000px;
  transform-style: preserve-3d;
}

.sharing .sharinginterview .content .front {
  transform-style: preserve-3d;
  transform-origin: 0% 100%;
  transform: rotateY(-36deg) translateZ(7px);
  transition: all 0.5s ease-in-out, z-index 0.1s;
}

.sharing .sharinginterview .content .front li .frontcover {
  position: absolute;
  height: 98%;
  width: 103%;
}

.sharing .sharinginterview .content .front li .frontcover img {
  width: 190px;
  height: 267px;
  padding-top: 2px;
}

.sharing .sharinginterview .content .front li:last-child {
  background-color: white;
  border-radius: 10px;
  transform: rotateY(180deg) translateZ(2px);
}

.sharing .sharinginterview .content .page {
  position: absolute;
  width: 111%;
  height: 98%;
  top: 1%;
  left: 2%;
}

.sharing .sharinginterview .content .page li {
  transition-duration: 0.6s;
}

.sharing .sharinginterview .content .page > li {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: left center;
  background: linear-gradient(left, #e1ddd8 0%, #fffbf6 100%);
  box-shadow: inset 0px -1px 2px rgba(50, 50, 50, 0.1), inset -1px 0px 1px rgba(150, 150, 150, 0.2);
  border-radius: 0px 5px 5px 0px;
}

.sharing .sharinginterview .content .page li:nth-child(1) {
  transform: rotateY(-28deg);
}

.sharing .sharinginterview .content .page li:nth-child(2) {
  transform: rotateY(-30deg);
}

.sharing .sharinginterview .content .page li:nth-child(3) {
  transform: rotateY(-32deg);
}

.sharing .sharinginterview .content .page li:nth-child(4) {
  transform: rotateY(-34deg);
}

.sharing .sharinginterview .content .page li:nth-child(5) {
  transform: rotateY(-36deg);
}

.sharing .sharinginterview .content .back {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform-origin: 0% 100%;
  transform: rotateY(-15deg) translateZ(-8px);
}

.sharing .sharinginterview .content .back li {
  background-color: #a7a7a7;
  border-radius: 10px;
  width: 97.5% !important;
}

.sharing .sharinginterview .content .front li.back li {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.sharing .openbook3 {
  margin: auto;
  max-width: 800px;
  padding: 1.4rem;
  display: flex;
  justify-content: center;
  background-color: black;
  margin-bottom: 3rem;
  cursor: alias;
}

.sharing .openbook3 img {
  width: 100%;
  height: 100%;
}

.moiza .moizaposter {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  width: 90%;
}

.moiza .moizaposter img {
  width: 90%;
  box-shadow: 0px 0px 7px black;
  margin-bottom: 15rem;
  justify-content: center;
  align-items: center;
}

.moiza .moizaposter .moving {
  width: 80%;
}

.moiza .moizaposterHover {
  position: absolute;
  left: 6%;
  opacity: 0;
  transition: opacity .2s;
}

.moiza .moizaposter:hover .moizaposterHover {
  opacity: 1;
}

.moiza .brandguide img {
  width: 85%;
  padding-top: 3rem;
}

.moiza .website {
  margin-bottom: 14rem;
}

.moiza .website img {
  width: 39%;
  margin: 1rem;
  box-shadow: 0px 0px 7px black;
}

.moiza .mockup1 img {
  margin: 0 3rem 0 3rem;
}

.moiza .mockup2 {
  margin-top: 14rem;
  margin-bottom: 5rem;
}

.moiza .mockup2 img {
  width: 30rem;
  height: 19rem;
  margin: 0.7rem;
}

.editorial .webpage {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-bottom: 1rem;
  top: 0;
  left: 0;
}

.editorial .webpage img {
  width: 80%;
  z-index: -1;
}

.editorial .webpage .mention {
  position: absolute;
  color: white;
  z-index: 0;
}

.editorial .part {
  width: 56%;
  position: absolute;
  left: 23%;
  padding-top: 5%;
  opacity: 0;
}

.editorial .movement {
  display: flex;
  justify-content: space-between;
  /*width: 70%;*/
  margin-top: 50%;
}

.editorial .movement .next {
  border-radius: 1rem;
  vertical-align: middle;
  padding: 0.5rem;
  width: 5.2rem;
  margin: 0.1rem;
  color: white;
  font-size: 0.6rem;
  text-align: center;
  background-color: #0e0e0e;
  cursor: pointer;
}

.feelings {
  margin-bottom: 3rem;
}

.feelings img {
  box-shadow: 0px 0px 7px black;
}

.feelings .main {
  width: 85%;
  margin-bottom: 2rem;
}

.feelings .main img:hover {
  cursor: sw-resize;
}

.feelings .screenshot {
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.feelings .screenshot img {
  width: 38%;
  margin: 0.7rem;
}

.font .moonalpha img {
  height: 7rem;
  margin: 0.7rem;
  box-shadow: 0px 0px 7px black;
}

.font .moonalpha img:hover {
  height: 18rem;
}

.font .process {
  margin-bottom: 10rem;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  padding: 1rem;
}

.font .process img {
  width: 30%;
}

.font .txt {
  margin-top: 10rem;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  padding: 1rem;
}

.font .txt img {
  margin-top: 1rem;
  height: 20rem;
}

.font .moonposter img {
  width: 21rem;
  margin: 1rem;
  box-shadow: 0px 0px 7px black;
}

.font .silkScreen img {
  margin: 2rem;
  box-shadow: 0px 0px 7px black;
}

.font .line {
  border-top: 1px solid black;
  padding-top: 3rem;
}

.font .outfit {
  margin-bottom: 5rem;
}

.font .outfit img {
  height: 18rem;
  width: 28.3rem;
  margin: 0.5rem;
}

.oneweb .screenshot img {
  width: 85%;
  margin-bottom: 2rem;
  box-shadow: 0px 0px 7px black;
}

.oneweb .objects img {
  width: 23.5rem;
  margin: 1.5rem;
  box-shadow: 0px 0px 7px black;
}

.oneweb img:hover {
  cursor: sw-resize;
}

#raum .raum .raumbook img {
  width: 45%;
}

#raum .raum .books {
  margin-top: 10rem;
}

#raum .raum .books .subbooks img {
  margin: 0rem 2.3rem 0rem 0rem;
}

#raum .raum .raumpages {
  margin-top: 5rem;
  margin-bottom: 14rem;
  padding: 3rem 0 3rem 0;
  border-bottom: 0.1rem solid black;
}

#raum .raum .raumpages img {
  width: 18%;
  margin: 1rem;
  box-shadow: 0px 0px 7px black;
}

#raum .raum .raumvideo {
  width: 90%;
  margin-bottom: 5rem;
}

.calendar img {
  box-shadow: 0px 0px 7px black;
}

.calendar .manual img {
  height: 29rem;
  box-shadow: none;
  margin: 0.3rem;
}

.calendar .content1 {
  width: 35rem;
  height: 37rem;
  background-color: white;
}

.calendar .display-container:hover {
  display: block;
}

.calendar .slide1 {
  display: none;
  width: 25rem;
  margin-top: 3rem;
  margin-left: 15%;
}

.calendar .button {
  cursor: pointer;
  border: none;
  display: inline-block;
  padding: 1rem 1.4rem;
  margin-top: 2.3rem;
  vertical-align: middle;
  overflow: hidden;
  color: inherit;
  background-color: inherit;
  text-align: center;
  white-space: nowrap;
  color: black;
}

.ai {
  margin-bottom: 5rem;
}

.ai img {
  margin-bottom: 2rem;
  box-shadow: 0px 0px 7px black;
}

.ai .linking {
  display: grid;
  width: 85%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.ai .linking img {
  width: 90%;
  margin-bottom: 1.5rem;
  margin-left: 2.8rem;
}

.ai .linking img:hover {
  cursor: sw-resize;
}

.ai .screenshot img {
  width: 50rem;
}

/* Start Media Query */
@media (min-width: 210px) and (max-width: 760px) {
  /* For mobile phones: */
  html {
    font-size: 10px;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }
  #container {
    -ms-overflow-style: none;
    /* for Internet Explorer, Edge */
    scrollbar-width: none;
    /* for Firefox */
    overflow-y: scroll;
    top: 3.9rem;
    grid-template-rows: repeat(16, 1fr);
    grid-template-columns: 1fr;
  }
  #container .con {
    border-left: 0;
    border-bottom: 1px #0e0e0e solid;
  }
  #container .con a {
    writing-mode: horizontal-tb;
  }
  #container .con:hover {
    width: 100%;
  }
  #container .con:hover .sideimage img {
    display: none;
  }
  #container .con:hover .subdec {
    display: inline;
  }
  #horizontal {
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: 1fr;
  }
  #horizontal div {
    border-right: 0.14rem black solid;
    opacity: 0;
  }
  p {
    font-size: 1.3rem;
    text-align: center;
  }
  li {
    font-size: 1rem;
    text-align: center;
  }
  #loading {
    left: 37%;
  }
  #con1, #con2, #ty1, #ty2, #three, #art, #jump, #full, #so1, #so2, #webzine, #real, #type, #oneday, #seoul50, #raum, #calendiary, #empathy {
    display: block;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding: 0;
  }
  #con1 #right, #con2 #right, #ty1 #right, #ty2 #right, #three #right, #art #right, #jump #right, #full #right, #so1 #right, #so2 #right, #webzine #right, #real #right, #type #right, #oneday #right, #seoul50 #right, #raum #right, #calendiary #right, #empathy #right {
    position: relative;
    bottom: 0;
    border-left: 0;
    border-top: 0.05rem solid black;
    width: 100%;
    margin-top: 5rem;
    padding: 3rem 0 0 0;
    height: 50rem;
  }
  .containerInfo #cv {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0;
    font-family: Helvetica, sans-serif;
    width: 100%;
    height: 100%;
  }
  .containerInfo #cv #portrait {
    position: relative;
    width: 30rem;
    height: 30rem;
    margin: 0 auto;
    margin-bottom: 0;
    margin-top: 14%;
  }
  .containerInfo #cv #me {
    height: 80rem;
    padding-top: 0;
  }
  .containerInfo #cv #me .insideme {
    width: 70%;
    height: 59rem;
    margin: 0 auto;
  }
  #loading {
    left: 37%;
  }
  #categorize {
    display: block;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  #categorize .catego1 {
    border: none;
  }
  #categorize ul li {
    padding: 1rem;
  }
  .ai .linking .linkimg {
    margin-left: 0.5rem;
  }
  .ai .screenshot .gif {
    width: 37rem;
  }
}

@media (min-width: 761px) and (max-width: 1024px) {
  html {
    font-size: 12px;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }
  body::-webkit-scrollbar {
    display: none;
  }
  body {
    -ms-overflow-style: none;
    /* IE and Edge */
  }
  #container {
    -ms-overflow-style: none;
    /* for Internet Explorer, Edge */
    scrollbar-width: none;
    /* for Firefox */
    overflow-y: scroll;
    top: 3.9rem;
    grid-template-rows: repeat(16, 1fr);
    grid-template-columns: 1fr;
  }
  #container .con {
    border-left: 0;
    border-bottom: 1px #0e0e0e solid;
  }
  #container .con a {
    writing-mode: horizontal-tb;
  }
  #container .con:hover {
    width: 100%;
  }
  #container .con:hover .sideimage img {
    display: none;
  }
  #container .con:hover .subdec {
    display: inline;
  }
  #horizontal {
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: 1fr;
  }
  #horizontal div {
    border-right: 0.14rem black solid;
    opacity: 0;
  }
  p {
    font-size: 1.3rem;
    text-align: center;
  }
  li {
    font-size: 1rem;
    text-align: center;
  }
  #loading {
    left: 37%;
  }
  #con1, #con2, #ty1, #ty2, #three, #art, #jump, #full, #so1, #so2, #webzine, #real, #type, #oneday, #seoul50, #raum, #calendiary, #empathy {
    display: block;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding: 0;
  }
  #con1 #right, #con2 #right, #ty1 #right, #ty2 #right, #three #right, #art #right, #jump #right, #full #right, #so1 #right, #so2 #right, #webzine #right, #real #right, #type #right, #oneday #right, #seoul50 #right, #raum #right, #calendiary #right, #empathy #right {
    position: relative;
    bottom: 0;
    border-left: 0;
    border-top: 0.05rem solid black;
    width: 100%;
    margin-top: 5rem;
    padding: 3rem 0 0 0;
    height: 50rem;
  }
  .containerInfo .colorful {
    display: none;
  }
  .containerInfo .copyright {
    mix-blend-mode: normal;
  }
  .containerInfo #cv {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0;
    font-family: Helvetica, sans-serif;
    width: 100%;
    height: 100%;
  }
  .containerInfo #cv #portrait {
    position: relative;
    margin: 0 auto;
    padding-right: 3rem;
    padding-top: 10rem;
  }
  .containerInfo #cv #me {
    padding-top: 3rem;
    padding-bottom: 10rem;
    z-index: -10;
    margin-right: 0px;
    height: 50rem;
  }
  .containerInfo #cv #me .insideme {
    overflow-y: scroll;
    -ms-overflow-style: none;
    /* for Internet Explorer, Edge */
    scrollbar-width: none;
    /* for Firefox */
    height: 63rem;
    margin: 0 auto;
  }
  #categorize {
    display: block;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  #categorize .catego1 {
    border: none;
  }
  #categorize ul li {
    padding: 1rem;
  }
  .ai .linking .linkimg {
    margin-left: 0.6rem;
  }
  .ai .screenshot .gif {
    width: 39rem;
  }
}

@media (min-width: 1025px) and (max-width: 1700px) {
  html {
    font-size: 14px;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }
  .containerInfo .colorful {
    display: none;
  }
  .containerInfo .copyright {
    mix-blend-mode: normal;
  }
  .containerInfo #cv {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0;
    font-family: Helvetica, sans-serif;
    width: 100%;
    height: 100%;
  }
  .containerInfo #cv #portrait {
    position: relative;
    margin: 0 auto;
    padding-right: 3rem;
    padding-top: 10rem;
  }
  .containerInfo #cv #me {
    padding-top: 3rem;
    padding-bottom: 10rem;
    z-index: -10;
    margin-right: 0px;
    height: 50rem;
  }
  .containerInfo #cv #me .insideme {
    overflow-y: scroll;
    -ms-overflow-style: none;
    /* for Internet Explorer, Edge */
    scrollbar-width: none;
    /* for Firefox */
    height: 63rem;
    margin: 0 auto;
  }
  .ai .linking .linkimg {
    margin-left: 0rem;
  }
  .ai .screenshot .gif {
    width: 40rem;
  }
  .ai .linking .linkimg {
    margin-left: 1.1rem;
  }
  .ai .screenshot .gif {
    width: 40rem;
  }
}

@media (min-width: 1701px) and (max-width: 2000px) {
  .containerInfo #cv #portrait {
    margin-top: 30%;
    margin-left: 10%;
  }
  .containerInfo #cv #me {
    margin-top: 30%;
  }
  .ai .screenshot .gif {
    width: 55rem;
  }
}

@media (min-width: 2001px) {
  html {
    font-size: 18px;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }
  .containerInfo #cv #portrait {
    margin-top: 25%;
    margin-left: 10%;
  }
  .containerInfo #cv #me {
    margin-top: 25%;
  }
  .ai .screenshot .gif {
    width: 60rem;
  }
}

/* Font */
@font-face {
  font-family: 'syncopatebold';
  src: url("../font/syncopate-bold-webfont.woff2") format("woff2"), url("../font/syncopate-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'syncopateregular';
  src: url("../font/syncopate-regular-webfont.woff2") format("woff2"), url("../font/syncopate-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/*# sourceMappingURL=index.css.map */