/* Start Media Query */
@media (min-width: 210px) and (max-width: 760px) {
  /* For mobile phones: */
  html {
    font-size: 10px;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }
  #container {
    padding-top: 3.9rem;
    grid-template-rows: repeat(16, 1fr);
    grid-template-columns: 1fr;
  }
  #container .con {
    border-left: 0;
    border-bottom: 1px #0e0e0e solid;
  }
  #container .con a {
    writing-mode: horizontal-tb;
  }
  #container .con:hover {
    width: 100%;
  }
  #container .con:hover .sideimage img {
    display: none;
  }
  #container .con:hover .subdec {
    display: inline;
  }
  #horizontal {
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: 1fr;
  }
  #horizontal div {
    border-right: 0.14rem black solid;
    opacity: 0;
  }
  p {
    font-size: 1.3rem;
    text-align: center;
  }
  li {
    font-size: 1rem;
    text-align: center;
  }
  #loading {
    left: 37%;
  }
  #con1, #con2, #ty1, #ty2, #three, #art, #jump, #full, #so1, #so2, #webzine, #real, #type, #oneday, #seoul50, #raum, #calendiary, #empathy {
    display: block;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding: 0;
  }
  #con1 #right, #con2 #right, #ty1 #right, #ty2 #right, #three #right, #art #right, #jump #right, #full #right, #so1 #right, #so2 #right, #webzine #right, #real #right, #type #right, #oneday #right, #seoul50 #right, #raum #right, #calendiary #right, #empathy #right {
    position: relative;
    bottom: 0;
    border-left: 0;
    border-top: 0.05rem solid black;
    width: 100%;
    margin-top: 5rem;
    padding: 3rem 0 0 0;
    height: 50rem;
  }
  .containerInfo #cv {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0;
    font-family: Helvetica, sans-serif;
    width: 100%;
    height: 100%;
  }
  .containerInfo #cv #portrait {
    position: relative;
    width: 30rem;
    height: 30rem;
    margin: 0 auto;
    margin-bottom: 0;
    margin-top: 14%;
  }
  .containerInfo #cv #me {
    height: 80rem;
    padding-top: 0;
  }
  .containerInfo #cv #me .insideme {
    width: 70%;
    height: 59rem;
    margin: 0 auto;
  }
  #loading {
    left: 37%;
  }
  #categorize {
    display: block;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  #categorize .catego1 {
    border: none;
  }
  #categorize ul li {
    padding: 1rem;
  }
  .ai .linking .linkimg {
    margin-left: 0.5rem;
  }
  .ai .screenshot .gif {
    width: 37rem;
  }
}

@media (min-width: 761px) and (max-width: 1024px) {
  html {
    font-size: 12px;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }
  body::-webkit-scrollbar {
    display: none;
  }
  body {
    -ms-overflow-style: none;
    /* IE and Edge */
  }
  #container {
    padding-top: 3.9rem;
    grid-template-rows: repeat(16, 1fr);
    grid-template-columns: 1fr;
  }
  #container .con {
    border-left: 0;
    border-bottom: 1px #0e0e0e solid;
  }
  #container .con a {
    writing-mode: horizontal-tb;
  }
  #container .con:hover {
    width: 100%;
  }
  #container .con:hover .sideimage img {
    display: none;
  }
  #container .con:hover .subdec {
    display: inline;
  }
  #horizontal {
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: 1fr;
  }
  #horizontal div {
    border-right: 0.14rem black solid;
    opacity: 0;
  }
  p {
    font-size: 1.3rem;
    text-align: center;
  }
  li {
    font-size: 1rem;
    text-align: center;
  }
  #loading {
    left: 37%;
  }
  #con1, #con2, #ty1, #ty2, #three, #art, #jump, #full, #so1, #so2, #webzine, #real, #type, #oneday, #seoul50, #raum, #calendiary, #empathy {
    display: block;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding: 0;
  }
  #con1 #right, #con2 #right, #ty1 #right, #ty2 #right, #three #right, #art #right, #jump #right, #full #right, #so1 #right, #so2 #right, #webzine #right, #real #right, #type #right, #oneday #right, #seoul50 #right, #raum #right, #calendiary #right, #empathy #right {
    position: relative;
    bottom: 0;
    border-left: 0;
    border-top: 0.05rem solid black;
    width: 100%;
    margin-top: 5rem;
    padding: 3rem 0 0 0;
    height: 50rem;
  }
  .containerInfo .colorful {
    display: none;
  }
  .containerInfo .copyright {
    mix-blend-mode: normal;
  }
  .containerInfo #cv {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0;
    font-family: Helvetica, sans-serif;
    width: 100%;
    height: 100%;
  }
  .containerInfo #cv #portrait {
    position: relative;
    margin: 0 auto;
    padding-right: 3rem;
    padding-top: 10rem;
  }
  .containerInfo #cv #me {
    padding-top: 3rem;
    padding-bottom: 10rem;
    z-index: -10;
    margin-right: 0px;
    height: 50rem;
  }
  .containerInfo #cv #me .insideme {
    overflow-y: scroll;
    -ms-overflow-style: none;
    /* for Internet Explorer, Edge */
    scrollbar-width: none;
    /* for Firefox */
    height: 63rem;
    margin: 0 auto;
  }
  #categorize {
    display: block;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  #categorize .catego1 {
    border: none;
  }
  #categorize ul li {
    padding: 1rem;
  }
  .ai .linking .linkimg {
    margin-left: 0.6rem;
  }
  .ai .screenshot .gif {
    width: 39rem;
  }
}

@media (min-width: 1025px) and (max-width: 1700px) {
  html {
    font-size: 14px;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }
  .containerInfo .colorful {
    display: none;
  }
  .containerInfo .copyright {
    mix-blend-mode: normal;
  }
  .containerInfo #cv {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0;
    font-family: Helvetica, sans-serif;
    width: 100%;
    height: 100%;
  }
  .containerInfo #cv #portrait {
    position: relative;
    margin: 0 auto;
    padding-right: 3rem;
    padding-top: 10rem;
  }
  .containerInfo #cv #me {
    padding-top: 3rem;
    padding-bottom: 10rem;
    z-index: -10;
    margin-right: 0px;
    height: 50rem;
  }
  .containerInfo #cv #me .insideme {
    overflow-y: scroll;
    -ms-overflow-style: none;
    /* for Internet Explorer, Edge */
    scrollbar-width: none;
    /* for Firefox */
    height: 63rem;
    margin: 0 auto;
  }
  .ai .linking .linkimg {
    margin-left: 0rem;
  }
  .ai .screenshot .gif {
    width: 40rem;
  }
  .ai .linking .linkimg {
    margin-left: 1.1rem;
  }
  .ai .screenshot .gif {
    width: 40rem;
  }
}

@media (min-width: 1701px) and (max-width: 2000px) {
  .containerInfo #cv #portrait {
    margin-top: 30%;
    margin-left: 10%;
  }
  .containerInfo #cv #me {
    margin-top: 30%;
  }
  .ai .screenshot .gif {
    width: 55rem;
  }
}

@media (min-width: 2001px) {
  html {
    font-size: 18px;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }
  .containerInfo #cv #portrait {
    margin-top: 25%;
    margin-left: 10%;
  }
  .containerInfo #cv #me {
    margin-top: 25%;
  }
  .ai .screenshot .gif {
    width: 60rem;
  }
}
/*# sourceMappingURL=media.css.map */