$breakpoints: (small: 210px, medium: 760px, large: 1024px, huge: 1700px, enourmous: 2000px);

/* Start Media Query */

// Phone //
@include media("width>=small", "width<=medium") {
    /* For mobile phones: */
    html {
        font-size: 10px;
        margin: 0;
        padding: 0;
        -ms-overflow-style: none; /* for Internet Explorer, Edge */
        scrollbar-width: none; /* for Firefox */
    }

    // Index.html
    @include mobileMain;

    // Sub pages
    @include mobileSub;

    // Info.html
    .containerInfo #cv {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: 0;
        font-family: Helvetica, sans-serif;
        width: 100%;
        height: 100%;

        #portrait {
            position: relative;
            width: 30rem;
            height: 30rem;
            margin: 0 auto;
            margin-bottom: 0;
            margin-top: 14%;
        }

        #me {
            height: 80rem;
            padding-top: 0;
            .insideme {
                width: 70%;
                height: 59rem;
                margin: 0 auto;
            }
        }
    }

    // Works.html
    @include verticalCategory;

    .food .book2 {
        margin-left: 33%;
    }

    .ai .linking .linkimg {
        margin-left: 0.5rem;
    }
    
    .ai .screenshot .gif {
        width: 37rem;
    }
}

// Tablet //
@include media("width>medium", "width<=large") {
    html {
        font-size: 12px;
        overflow-x: hidden;
        margin: 0;
        padding: 0;
    }

    body::-webkit-scrollbar{
       display: none;
    }

    body {
        -ms-overflow-style: none;  /* IE and Edge */
    }

    // Index.html
    @include mobileMain;

    // Sub pages
    @include mobileSub;

    // Info.html
    @include verticalInfo;

    // Works.html
    @include verticalCategory;

    .food .book2 {
        margin-left: 29%;
    }
    
    .ai .linking .linkimg {
        margin-left: 0.6rem;
    }

    .ai .screenshot .gif {
        width: 39rem;
    }
}

// Laptop Screen //
@include media("width>large", "width<=huge") {
    html {
        font-size: 14px;
        overflow-x: hidden;
        margin: 0;
        padding: 0;
    }

    // Info.html
    @include verticalInfo;
    
    .ai .screenshot .gif {
        width: 40rem;
    }
}

// Big Screen //
@include media("width>huge", "width<=enourmous") {
    
    .containerInfo #cv{
        #portrait {
            margin-top: 23%;
            margin-left: 10%;
        }
    
        #me {
            margin-top: 23%;
        }
    }

    .food .book2 {
        margin-left: 18%;
    }

    .ai .screenshot .gif {
        width: 55rem;
    }
}

// Enormous Screen //
@include media("width>enourmous") {
    html {
        font-size: 18px;
        overflow-x: hidden;
        margin: 0;
        padding: 0;
    }

    .containerInfo #cv{
        #portrait {
            margin-top: 20%;
            margin-left: 10%;
        }
    
        #me {
            margin-top: 20%;
        }
    }

    .food .book2 {
        margin-left: 15%;
    }

    .ai .screenshot .gif {
        width: 60rem;
    }
}