.feelings {
    margin-bottom: 3rem;

    img {
        box-shadow: 0px 0px 7px rgb(14, 14, 14);
    }

    .main {
        width: 85%;
        margin-bottom: 2rem;
    }

    .main:hover{
        cursor: sw-resize;
    }

    .screenshot {
        margin-top: 2rem;
        margin-bottom: 5rem;

        img {
            width: 38%;
            margin: 0.7rem;
        }
    }

    .picture-explain {
        margin-top: 10rem;
        padding-top: 2.3rem;
        border-top: 1px solid rgb(14, 14, 14);
    }

}