#inspiration {
    margin-bottom: 5rem;

    .mainpic img {
        width: 45%;
        margin: 0.5rem;
        filter: grayscale(0);
        margin-bottom: 2rem;
        box-shadow: 0px 0px 7px rgb(14, 14, 14);
        &:hover{
            cursor: sw-resize;
        }
    }

    .example {
        img {
            height: 21rem;
            padding: 0.5rem;
            filter: grayscale(1);
            &:hover {
                filter: grayscale(0);
                height: 25rem;
            }
        }
    }
    
    @include videoExplain;
    .video-explain {
        margin-top: 7rem;
        margin-bottom: 2rem;
    }
}