.font {

    .moonalpha {
        img {
            height: 7rem;
            margin: 0.7rem;
            box-shadow: 0px 0px 7px rgb(14, 14, 14);
        }

        img:hover{
            height: 18rem;
        }
    }

    .process {
        margin-bottom: 10rem;
        border-bottom: 1px solid rgb(14, 14, 14);
        border-top: 1px solid rgb(14, 14, 14);
        padding: 1rem;
        img {
            width: 30%;
        }
    }

    .txt {
        margin-top: 10rem;
        border-bottom: 1px solid rgb(14, 14, 14);
        border-top: 1px solid rgb(14, 14, 14);
        padding: 1rem;
        img {
            margin-top: 1rem;
            height: 20rem;
        }
    }

    .moonposter {
        img {
            width: 21rem;
            margin: 1rem;
            box-shadow: 0px 0px 7px rgb(14, 14, 14);
        }
    }

    .silkScreen {
        img {
            margin: 2rem;
            box-shadow: 0px 0px 7px rgb(14, 14, 14);
        }
    }

    .line {
        border-top: 1px solid rgb(14, 14, 14);
        padding-top: 3rem;
    }

    .outfit {
        margin-bottom: 5rem;
        img {
            height: 18rem;
            width: 28.3rem;
            margin: 0.5rem;
        }
    }

}