.oneweb {

    .screenshot {
        img {
            width: 85%;
            margin-bottom: 1rem;
            box-shadow: 0px 0px 7px rgb(14, 14, 14);
        }
    }

    .objects {
        margin: 5rem 0 7rem 0;
        img {
            width: 23.5rem;
            margin: 1.5rem;
            box-shadow: 0px 0px 7px rgb(14, 14, 14);
        }
    }

    img:hover{
        cursor: sw-resize;
    }

}