.raum {
    .raumbook img{  
        width: 45%;     
    }

    .books {
        margin-top: 10rem;

        .subbooks {
            img {
                margin: 0rem 2.3rem 0rem 0rem;
            }
        }
    }

    .raumpages {
        margin-top: 5rem;
        margin-bottom: 14rem;
        padding: 3rem 0 3rem 0;
        border-bottom: 0.1rem solid rgb(14, 14, 14);

        img {
            width: 18%;
            margin: 1rem;
            box-shadow: 0px 0px 7px rgb(14, 14, 14);
        }
    }

    .raumvideo {
        width: 90%;
        margin-bottom: 5rem;
    }
}