.editorial {
    
    .webpage{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        margin-bottom: 1rem;
        top: 0;
        left: 0;

        img {
            width: 80%;
            z-index: -1;
        }

        .mention {
            position: absolute;
            color: white;
            z-index: 0;
        } 
    }

    .part {
        width: 56%;
        position: absolute;
        left: 23%;
        padding-top: 5%;
        opacity: 0;
    }

    .movement {
        display: flex;
        justify-content: space-between;
        /*width: 70%;*/
        margin-top: 50%;

        .next {
            border-radius: 1rem;
            vertical-align: middle;
            padding: 0.5rem;
            width: 5.2rem;
            margin: 0.1rem;
            color: white;
            font-size: 0.6rem;
            text-align: center;
            background-color: $mainColor;
            cursor: pointer;
        }

    }

}