/* Font */
@font-face {
    font-family: 'syncopatebold';
    src: url('./font/syncopate-bold-webfont.woff2') format('woff2'),
         url('./font/syncopate-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'syncopateregular';
    src: url('./font/syncopate-regular-webfont.woff2') format('woff2'),
         url('./font/syncopate-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    font-size: 15px;
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    width: 100%;
}

#loading {
    -webkit-text-decoration-line: line-through;
    text-decoration-line: line-through;
    font-size: 1.8rem;
    font-family: 'syncopateregular', 'Syncopate', Helvetica, sans-serif;
    margin-top: 10rem;
    left: 45%;
    position: absolute;
}

#container {
    top: 0;
    position: relative;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: 1fr;
}

#navbar {
    font-size: 1.5rem;
    font-family: 'syncopateregular', 'Syncopate', Helvetica, sans-serif;
}

#right {
    border-left: 0.1rem black solid;
    background-color: white;
    position: relative;
    overflow-y: hidden;
    width: 31%;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    margin-top: 0rem;
    padding: 7.7rem 1.4rem 0 1.4rem;
}

.sub{
    margin-top: 2rem;
    padding: 2.1rem;
    font-size: 0.93rem;
    line-height: 2.1rem;
}

#categorize {
    font-family: 'syncopateregular', 'Syncopate', Helvetica, sans-serif;
    display: grid;
    display: flex;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0;
    margin-top: 4.3rem;
    width: 100%;
    height: 100%;
}

.containerInfo {
    height: 100%;
}

#cv {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0;
    font-family: Helvetica, sans-serif;
    height: 100%;
}

#portrait {
    display: grid;
    grid-template-columns: repeat(51, 1fr);
    grid-template-rows: repeat(51, 1fr);
    gap: 0;
    width: 39rem;
    height: 39rem;
    margin: 11rem 1rem 5rem 7rem;
}

#con1, #con2, #ty1, #ty2, #three, #art, #jump, #full, #so1, #so2, #webzine, #real, #type, #oneday, #seoul50, #raum, #calendiary, #empathy {
    display: grid;
    grid-template-columns: 0.9fr 0.5fr;
    grid-template-rows: 1fr;
    gap: 0;
    justify-content: space-between;
    width: 100%;
    margin-top: 9rem;
    padding-left: 1%;
    font-family: 'syncopateregular', 'Syncopate', Helvetica, sans-serif;
}

.burn, .humor, .play, .interior, .exhibition, .bungee, .picture, .moiza, .editorial, .feelings, .font, .oneweb, .intern, .raum, .calendar, .ai {
    display: flex;
    position: relative;
    align-items: center;
    text-align: center;
    -webkit-flex-direction: column; 
    flex-direction: column;
    padding-top: 0.7rem;
    letter-spacing: 0.1rem;
    word-spacing: 0.1rem;
}

/* Scroll Bar */
::-webkit-scrollbar {
    width: 0.7rem;
}
/* Track */
::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px grey; 
border-radius: 1rem;
}
/* Handle */
::-webkit-scrollbar-thumb {
background: #070707; 
border-radius: 1rem;
}
/* Track on Hover*/
::-webkit-scrollbar-track:hover {
    background: black;
    border-radius: 1rem;
}
/* Handle on Hover */
::-webkit-scrollbar-thumb:hover {
background: #cecece; 
border-radius: 1rem;
}

/* Interactive Web */
@media only screen and (min-width: 2000px) and (max-width: 3000px){
    html {
        font-size: 18px;
        overflow-x: hidden;
        margin: 0;
        padding: 0;
    }

    #portrait {
        margin-top: 37%;
        margin-left: 20%;
    }

    #me {
        margin-top: 23%;
    }

    .ai .screenshot .gif {
        width: 60rem;
    }
}

@media only screen and (min-width: 1690px) and (max-width: 1999px){

    #portrait {
        margin-top: 25%;
        margin-left: 20%;
    }

    #me {
        margin-top: 10%;
    }

    .ai .screenshot .gif {
        width: 55rem;
    }

}


@media only screen and (max-width: 1689px) {
    #portrait {
        margin: 11rem 1rem 5rem 3rem;
    }

    video {
        width: 90%;
    }

    .ai .screenshot .gif {
        width: 53rem;
    }

}

@media only screen and (max-width: 1400px) {
    .ai .linking .linkimg {
        margin-left: 1.1rem;
    }

    .ai .screenshot .gif {
        width: 40rem;
    }

}

@media only screen and (max-width: 1150px) {
   html {
       font-size: 14px;
       overflow-x: hidden;
       margin: 0;
       padding: 0;
   }

   .containerInfo .colorful {
       display: none;
   }

   .containerInfo .copyright {
        mix-blend-mode: normal;
   }

   .containerInfo #cv {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: 0;
        font-family: Helvetica, sans-serif;
        width: 100%;
        height: 100%;
    }

    .containerInfo #cv #portrait {
        position: relative;
        margin: 0 auto;
        padding-right: 3rem;
        padding-top: 10rem;
    }

    .containerInfo #cv #me {
        padding-top: 3rem;
        padding-bottom: 10rem;
        z-index: -10;
        margin-right: 0px;
        height: 50rem;
    }

    .containerInfo #cv #me .insideme {
        height: 42rem;
        margin: 0 auto;
    }

    .ai .linking .linkimg {
        margin-left: 0rem;
    }
    
    .ai .screenshot .gif {
        width: 40rem;
    }


}

@media only screen and (max-width: 1000px) {
    html {
        font-size: 12px;
        overflow-x: hidden;
        margin: 0;
        padding: 0;
    }

    body::-webkit-scrollbar{
       display: none;
    }

    body {
        -ms-overflow-style: none;  /* IE and Edge */
    }
    
    .ai .linking .linkimg {
        margin-left: 0.6rem;
    }

    .ai .screenshot .gif {
        width: 39rem;
    }
}

@media only screen and (max-width: 850px) {
    /* For mobile phones: */
   html {
       font-size: 11px;
       overflow-x: hidden;
       margin: 0;
       padding: 0;
   }

   p, li{
       text-align: center;
   }

   #right {
       position: relative;
       bottom:0;
       border-left:0;
       border-top:0.05rem solid black;
       width: 100%;
       margin-top: 5rem;
       padding: 3rem 0 0 0;
       height: 50rem;
   }

   #con1, #con2, #ty1, #ty2, #three, #art, #jump, #full, #so1, #so2, #webzine, #real, #type, #oneday, #seoul50, #raum, #calendiary, #empathy {
       display: block;
       grid-template-columns: 1fr;
       grid-template-rows: 1fr;
       padding: 0;
    }

    #categorize {
        display: block;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    #categorize .catego1 {
        border: none;
    }

    #categorize ul li {
        padding: 1rem;
    }

    .containerInfo #cv #portrait {
        width: 20rem;
        height: 20rem;
    }

    .containerInfo #cv #me {
        height: 53rem;
    }

    .containerInfo #cv #me .insideme {
        width: 70%;
        height: 43rem;
        margin: 0 auto;
    }

    .ai .linking .linkimg {
        margin-left: 0.5rem;
    }
    
    .ai .screenshot .gif {
        width: 37rem;
    }
}

@media only screen and (max-width: 450px) {
    /* For mobile phones: */
    html {
        font-size: 9px;
    }

    .containerInfo #cv #me {
        height: 63rem;
    }

    .containerInfo #cv #me .insideme {
        width: 70%;
        height: 49rem;
        margin: 0 auto;
    }

    #loading {
        left: 37%;
    }

}