// Work page : category
#categorize {
    font-family: 'syncopateregular', 'Syncopate', Helvetica, sans-serif;
    display: grid;
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 0;
    margin-top: 4.3rem;
    width: 100%;
    height: 130%;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
    overflow-x: hidden;

    .works-link:hover {
        a {color: white;}
    }

    .catego1{
        border-right: 1px solid $mainColor;
        ul {
            display: flex;
            margin: 0;
            list-style: none;
            text-transform: uppercase;
            border-bottom: 1px solid $mainColor;
            li {
                padding: 1.3rem;
                font-size: 1.3rem;
                border-left: 1px solid $mainColor;
            }
        }
        ul li:hover, .active {
            -webkit-text-decoration-line: line-through; /* Safari */
            text-decoration-line: line-through;
        }

        .works1 {
            display: block;
        
            .w2019.w2020.w2021.etc1 {
                transition-timing-function: ease 1s;
            }

            .works-link {
                font-size: 1.1rem;
                padding: 1.4rem;
                border-bottom: 1px solid $mainColor;
            }
        }
    }

    .catego2{
        width: 100%;
        ul {
            display: flex;
            margin: 0;
            list-style: none;
            text-transform: uppercase;
            border-bottom: 1px solid $mainColor;
            li {
                padding: 1.3rem;
                font-size: 1.3rem;
                border-right: 1px solid $mainColor;
            }
        }
        ul li:hover, .active {
            -webkit-text-decoration-line: line-through; /* Safari */
            text-decoration-line: line-through;
        }
        .works2 {
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
            gap: 0.5rem;

            .graphic .edit .website .etc2 {
                transition-timing-function: ease 1s;
            }
            
            .works-link {
                padding: 1.4rem;
                text-align: center;
            }

            img {
                height: 14rem;
            }
        }
    }

    .title1:hover {
        background-color: #b27fb2;
    }
    .title2:hover {
        background-color: #ffca36;
    }
    .title3:hover {
        background-color: #878686;
    }
    .title4:hover {
        background-color: #ff22f5;
    }
    .title5:hover {
        background-color: #349193;
    }
    .title6:hover {
        background-color: #aeaeae;
    }
    .title7:hover {
        background-color: #2e73ef;
    }
    .title8:hover {
        background-color: #9d5fff;
    }
    .title9:hover {
        background-color: #fc8c12;
    }
    .title10:hover {
        background-color: #1ead84;
    }
    .title11:hover {
        background-color: #727272;
    }
    .title12:hover {
        background-color: #99d766;
    }
    .title13:hover {
        background-color: #3537a5;
    }
    .title14:hover {
        background-color: #00a5f7;
    }
    .title15:hover {
        background-color: #070707;
    }
    .title16:hover {
        background-color: #8e8ef7;
    }
}